*{
    margin: 0;
    padding: 0;
}
.frst-sec{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(48, 45, 45, 0.041),#000000b2),url(../img/Bgraund.png);
    background-size: cover;
    background-position: center;
}
.frst-textbox{
    width: 40%;
    top: 30%;
    color: aliceblue;
    position: absolute;
    left: 10%;
}
.frst-textbox h1{
    font-weight: 600;
    font-size: 60px;
}
.frst-textbox p{
    font-size: 30px;
}
.btn{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
    background-color: rgb(250, 1, 84);
    cursor: pointer;
}
.btn:hover{
    color: rgb(250, 1, 84);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(167, 10, 10, 0.555);
    transition: 0.2s;
}
.second-sec{
    margin: 100px 200px;
}
.blog-1, .blog-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.bolog-1text, .bolog-2text{
    width: 400px;
}
.bolog-1text h1, .bolog-2text h1{
    font-weight: 600;
    font-size: 40px;
}
.bolog-1text p, .bolog-2text p{
    color: rgba(100, 101, 102, 0.562);
    font-size: 30px;
}
.third-item{
text-align: center;

}
.third-item h1{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.third-item p{
    color: rgba(100, 101, 102, 0.562);
    font-size: 25px;

}
.row1, .row2{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.card-1, .card-2{
    display: flex;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 192, 203, 0.151);
    border-radius: 10px;
    padding: 20px;
}
.imgs{
    width: 56px;
    height: 56px;
}
.card-1-text {
    margin: 10px;
}